	#navbar2 {
    		/*margin-top: 100px;*/
    		/*position: absolute;*/
    		top: 42px;
    		height: 97px;
			background-color: #F5F5F3;
			text-transform: uppercase;
			width: 100%;
            padding-top: 2%;

    		

    	}
